<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448261151304-582fp0s5auj4v63qvunhmd2fp98dtj83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448261151304-582fp0s5auj4v63qvunhmd2fp98dtj83</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448261151304-u2t6ae0j447udle71ivn768vs8ooifkp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiNfOgIqwmnjSK0Gyxb15cpYbfpkhGZPY</string>
	<key>GCM_SENDER_ID</key>
	<string>448261151304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TheVisualBook.visualbook</string>
	<key>PROJECT_ID</key>
	<string>visualbook-49dae</string>
	<key>STORAGE_BUCKET</key>
	<string>visualbook-49dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448261151304:ios:36138418ba4fc72e77d67d</string>
	<key>DATABASE_URL</key>
	<string>https://visualbook-49dae-default-rtdb.firebaseio.com</string>
</dict>
</plist>